/* Define fonte padrão */
* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgreen;
  margin: 20px;
}

h1 {
    text-align: center;
}
/* Estilo do menu horizontal */
nav ul {
  list-style: none;      /* remove bolinhas da lista */
  margin: 0;
  padding: 0;
  display: flex;         /* deixa os itens lado a lado */
  gap: 12px;             /* espaço entre os itens */
  align-content: center;
  width: fit-content;
  margin: 0 auto;
}

nav li {
  margin: 0;
}

nav a {
  display: inline-block;
  padding: 10px 18px;
  text-decoration: none;
  background: #12c60f;
  color: black;
  border-radius: 6px;
  transition: background 0.3s;
}

nav a:hover {
  background: #0eb12c;
}

.intro {
    height: auto;
    width: 250px;

    float: right;
}

.ano1 {
    width: 300px;
    position: relative;
    top: 0px;
    left: 300px;
}

.ano2 {
    width: 500px;
    
    display: block;
    margin: 0 auto;
}

.pôster {
    width: 300px;

    float: right;
}

.premiação {
    height: 400px;

    float: left;
}

.img-form{
    text-align: left;
    position: relative;
    top: 250px;
    left: 0px;
}

.formatura1 {
    width: 500px;

    position: relative;
    top: 100px;
    left: -400px;

}

.formatura2 {
    width: 400px;

    position: relative;
    top: -250px;
    left: 800px;
}

.metal-gear{
    height: 300px;

    position: relative;
    float: right;
}

.cachorros {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.gojira {
    height: 300px;
    position: relative;
    left: 300px;
}

.pk {
    width: 300px;
    position: relative;
    left: 300px;
}